* {
  font-family: "Rubik";
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
body {
  margin: 0;
}
.main {
  display: flex;
  justify-content: space-between;
  height: 100vh;

  flex-direction: row;
  gap: 5rem;
  padding: 0 20% 0;

  align-items: center;
}
.screenshot {
  min-width: 18rem;
  max-width: 18rem;
  border-radius: 2rem;
  min-height: 35rem;
  max-height: 35rem;

  box-shadow: 0px 9px 20px rgba(13, 38, 76, 0.19);
  border: 1rem solid white;
  display: flex;
  flex-direction: column;
  background-color: hsl(270, 20%, 96%);
  z-index: 10;
}

.app-navbar {
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background: linear-gradient(
    to left,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
}
.app-notch {
  width: 10rem;
  height: 1.5rem;
  background: white;
  border-bottom-left-radius: 10rem;
  border-bottom-right-radius: 10rem;
}
.app-navbar-main {
  width: auto;
  height: fit-content;
  display: flex;
  left: -2rem;
  position: relative;
  flex-direction: row;
  align-items: stretch;
}

.app-navbar-left-elements {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.7rem;
}
.ellipsis {
  display: flex;
  position: relative;
  rotate: 90deg;
  right: -2.5rem;
  color: white;
}
.app-navbar-arrow-back {
  color: aliceblue;
}
.app-avatar {
  width: 2rem;
  max-height: 2rem;
  border: 2px white solid;
  border-radius: 100%;
}
.app-bio {
  text-align: left;
  max-height: 4rem;
}
.app-bio-name {
  color: white;
  font-style: bold;
}
.app-bio-availability {
  color: hsl(276, 100%, 81%);
  margin-top: -1rem;
  font-size: 10px;
}

.app-body {
  display: flex;
  width: 100%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  flex-direction: column;
}
.message-in {
  margin-left: 0.5rem;
  margin-top: -0.3rem;
  text-align: left;
  color: hsl(276, 55%, 52%);
  background: hsl(0, 0%, 100%);
  align-self: flex-start;
  font-size: 10px;
  max-width: 11rem;
  padding: 0.6rem 0.3rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 0.2rem;
}
.message-out {
  margin-right: 0.5rem;
  margin-top: -0.3rem;
  text-align: left;
  background: hsl(0, 0%, 100%);
  align-self: flex-end;
  font-size: 10px;
  max-width: 11rem;
  padding: 0.6rem 0.3rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 0.2rem;
}
.dog-pictures {
  margin-right: 0.5rem;
  margin-top: -0.3rem;
  margin-bottom: 0.6rem;

  display: flex;
  flex-direction: row;
  max-width: fit-content;
  align-self: flex-end;
  gap: 0.5rem;
}
.dog-picture {
  width: 3rem;
  border-radius: 0.75rem;
}

.walk-option {
  height: 1.5rem;
  width: 10rem;

  margin-bottom: 0.3rem;
  margin-left: 0.5rem;
  padding: 0.5rem 1.5rem;
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  justify-items: center;
  align-items: center;
  color: white;

  background: linear-gradient(
    to left,
    hsl(264, 100%, 61%),
    hsl(293, 100%, 63%)
  );
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 0.2rem;
  justify-content: space-between;
}

.radio-input {
  position: relative;
  right: 1rem;
}
.option-description {
  font-size: 10px;
  position: relative;
  right: 1rem;
  justify-content: center;
  align-items: center;
}
.option-price {
  padding-left: 2rem;

  font-weight: bold;
}
.app-input {
  display: flex;
  flex-direction: row;
}
.app-input-message {
  background-color: white;
  height: 1.5rem;
  width: 16.5rem;
  outline-color: transparent;
  border-radius: 10rem;
  padding: 0.6rem 0.3rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  border: none;
}
::placeholder {
  color: hsl(206, 6%, 79%);
}
.app-submit-button {
  margin-left: -3rem;
  width: 2rem;
  height: 2rem;
  align-self: center;
  border-radius: 100%;
  background-color: hsl(271, 36%, 24%);
  border: none;
  font-size: 20px;
  text-align: center;
  color: white;
}
.app-submit-button:hover {
  cursor: pointer;
}

/* right section */
.text-section {
  width: 30vw;
}

.text-section-title {
  opacity: 75%;
  font-size: 2rem;
}
.text-section-content {
  opacity: 40%;
  font-size: 16px;
  line-height: 1.5rem;
  z-index: 10;
}

.capsule {
  position: absolute;

  width: 35rem;
  height: 90vh;
  border-bottom-right-radius: 100rem;
  border-bottom-left-radius: 100rem;
  top: 0rem;
  left: -10rem;
  background: linear-gradient(
    to bottom left,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
}
.reverse-capsule {
  right: -10rem;
  bottom: 0rem;
  position: fixed;
  z-index: -10;
  width: 35rem;
  height: 90vh;
  border-top-right-radius: 100rem;
  border-top-left-radius: 100rem;
  margin-top: -2rem;
  margin-left: -10rem;
  background-color: hsl(270, 20%, 96%);
}

@media (max-width: 375px) {
  .main {
    flex-direction: column;
  }
}
