* {
  font-family: "Rubik";
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
.main {
  display: flex;
  z-index: 1rem;
  justify-content: space-between;
  height: 97.5vh;
  flex-direction: row;
  padding: 0% 25% 0%;
  align-items: center;
}
.screenshot {
  width: 20rem;

  z-index: 10;
}
.text-section {
  width: 30vw;
}

.text-section-title {
  opacity: 75%;
  font-size: 2rem;
}
.text-section-content {
  opacity: 40%;
  font-size: 16px;
  line-height: 1.5rem;
  z-index: 1000px;
}

.capsule {
  position: absolute;

  width: 35rem;
  height: 90vh;
  border-bottom-right-radius: 100rem;
  border-bottom-left-radius: 100rem;
  /* margin-top: -2rem;
  margin-left: -10rem; */
  top: 0rem;
  left: -10rem;
  background: linear-gradient(
    to bottom left,
    hsl(293, 100%, 63%),
    hsl(264, 100%, 61%)
  );
}
.reverse-capsule {
  right: -10rem;
  bottom: 0rem;
  position: fixed;
  z-index: -10;
  width: 35rem;
  height: 90vh;
  border-top-right-radius: 100rem;
  border-top-left-radius: 100rem;
  margin-top: -2rem;
  margin-left: -10rem;
  background-color: hsl(270, 20%, 96%);
}
